@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
article,
aside,
footer,
header,
nav,
section {
  display: block; }

audio,
canvas,
iframe,
svg,
video {
  vertical-align: middle; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: 1.1;
  color: #222; }

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  margin: 0; }

html {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 28px; }

@media (max-width: 1024px) {
  html {
    font-size: 19px;
    font-size: 1.1875rem; } }

@media (max-width: 992px) {
  html {
    font-size: 17px;
    font-size: 1.0625rem; } }

@media (max-width: 768px) {
  html {
    font-size: 15px;
    font-size: 0.9275rem; } }

@media (max-width: 324px) {
  html {
    font-size: 8px;
    font-size: 0.9175rem; } }

header {
  max-width: 1024px;
  margin: 100px auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

header .logo {
  display: inline-block; }

header .logo img {
  vertical-align: middle; }

header nav {
  float: right;
  margin: 55px 0 0; }

header nav a {
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.0625rem;
  color: #777;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

@media (max-width: 414px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center; }
  .desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media (max-width: 515px) {
  header {
    padding: 0; }
  nav {
    float: none;
    margin: 25px 0 0; } }

.hero {
  margin: 100px auto;
  padding: 0 20px;
  max-width: 1024px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center; }

.hero .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.hero .title h2 {
  margin: 10px;
  font-family: "Roboto Mono", monospace;
  font-size: 2.0265rem; }

.hero .title span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.hero .desc {
  font-family: "Roboto Mono", monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 100px auto 0; }

.hero .desc img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  max-width: 100%; }

.hero .desc .wrapper {
  margin-left: 40px;
  max-width: 30em; }

.desc {
  margin: 50px auto 0; }

.desc img {
  margin-bottom: 20px; }

@media (max-width: 560px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .hero .desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media (max-width: 515px) {
  .hero {
    padding: 0; } }

.skills {
  font-family: "Roboto Mono", monospace;
  position: relative;
  height: auto;
  padding: 100px 0;
  margin: 100px auto 200px auto;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.skills:after,
.skills:before {
  background: #a8d58e;
  display: block;
  content: "";
  position: absolute;
  height: 70%;
  left: 0;
  right: 0;
  z-index: -1; }

.skills:before {
  top: 0;
  -webkit-transform: skewY(-6deg);
  transform: skewY(-6deg); }

.skills:after {
  bottom: 0;
  -webkit-transform: skewY(-6deg);
  transform: skewY(-6deg); }

.skills .skills-wrap {
  margin: 0 auto; }

.projects {
  position: relative;
  height: auto;
  padding: 100px 0;
  margin: 100px auto 100px auto;
  box-sizing: border-box;
  clear: both; }

.projects:after,
.projects:before {
  background: #a8d58e;
  display: block;
  content: "";
  position: absolute;
  height: 70%;
  left: 0;
  right: 0;
  z-index: -1; }

.projects:before {
  top: 0;
  -webkit-transform: skewY(-6deg);
  transform: skewY(-6deg); }

.projects:after {
  bottom: 0;
  -webkit-transform: skewY(-6deg);
  transform: skewY(-6deg); }

.projects .projects-title h2 {
  text-align: center; }

.projects .project-wrap {
  max-width: 1024px;
  height: auto;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: inherit; }

.projects .project-card {
  width: calc(33.333% - 0.4em);
  box-sizing: inherit;
  margin: 3px 0; }

.projects .project-card img {
  width: 100%;
  height: auto;
  border: 3px solid #eee;
  vertical-align: middle; }

.projects .project-card img:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 20px #222;
  border: 3px solid #ddd; }

@media (max-width: 768px) {
  .project-card {
    width: calc(50% - 0.4em) !important; } }

.contact-title {
  max-width: 1024px;
  margin: 100px auto 50px auto;
  padding: 0 auto 100px;
  font-size: 1.625rem;
  font-family: "Roboto Mono", monospace;
  text-align: center; }

.contact-footer {
  max-width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 auto;
  margin-bottom: 150px;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.contact-footer .social ul {
  list-style: none; }
  .contact-footer .social ul li {
    margin: 25px; }
    .contact-footer .social ul li a {
      text-decoration: none;
      display: flex;
      align-items: center;
      color: #333; }
      .contact-footer .social ul li a:hover {
        transform: scale(1.2);
        transition: all .3s ease-in-out; }
      .contact-footer .social ul li a .fa-codepen {
        margin: 10px; }
      .contact-footer .social ul li a .fa-github-alt {
        margin: 10px; }

@media (max-width: 1024px) {
  .social {
    margin: 50px auto; }
  .social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0; }
  .social ul li {
    margin: 0 10px; } }

.contact-footer form {
  position: relative;
  padding: 50px;
  width: 750px;
  max-width: 100%;
  height: 300px;
  -webkit-box-shadow: 0 0 20px #d5d5d5;
  box-shadow: 0 0 20px #d5d5d5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.contact-footer form input {
  width: 65%;
  border: 2px solid #d5d5d5;
  display: block;
  margin: auto;
  font-size: 1.325rem;
  padding: 5px;
  border-radius: 0.2rem; }

@media (max-width: 768px) {
  .contact-footer form {
    margin: 0 10px;
    padding: 40px 0; } }

@media (max-width: 515px) {
  .contact-footer form {
    margin: 0 5px;
    padding: 40px 0; } }

#feedback {
  width: inherit;
  max-width: 100%;
  text-align: center;
  height: auto;
  font-size: 1.625rem; }

input[type="text"]:focus,
textarea:focus {
  outline: none;
  border: 2px solid #888; }

input[type="email"]:focus,
textarea:focus {
  outline: none;
  border: 2px solid #888; }

label input[type="submit"] {
  display: none; }

textarea {
  width: 65%;
  border: 2px solid #d5d5d5;
  display: block;
  padding: 5px;
  height: 50%;
  font-size: 1.325rem;
  margin: 0 auto 20px auto;
  border-radius: 0.2rem; }

label svg {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  position: absolute;
  right: 60px;
  bottom: -40px; }

label svg:hover {
  -webkit-box-shadow: 0 0 15px #777;
  box-shadow: 0 0 15px #777; }

#ruse {
  display: none; }

::-webkit-input-placeholder {
  color: #d5d5d5; }

::-moz-placeholder {
  color: #d5d5d5; }

::-ms-placeholder {
  color: #d5d5d5; }

::-webkit-input-placeholder {
  color: #d5d5d5; }

:-ms-input-placeholder {
  color: #d5d5d5; }

::placeholder {
  color: #d5d5d5; }

.project-page-wrapper {
  position: relative;
  height: auto;
  padding: 50px 0;
  margin: 100px auto 100px auto;
  box-sizing: border-box;
  clear: both; }
  .project-page-wrapper:after, .project-page-wrapper:before {
    background: #a8d58e;
    display: block;
    content: "";
    position: absolute;
    height: 70%;
    left: 0;
    right: 0;
    z-index: -1; }
  .project-page-wrapper:before {
    top: 0;
    -webkit-transform: skewY(-6deg);
    transform: skewY(-6deg); }
  .project-page-wrapper:after {
    bottom: 0;
    -webkit-transform: skewY(-6deg);
    transform: skewY(-6deg); }

.project-title {
  text-align: center; }

.project-thumbnail {
  margin: 0 auto;
  width: 80%;
  max-width: 1024px;
  margin-top: 50px; }
  .project-thumbnail img {
    width: 100%;
    border: 3px #eee solid; }
    .project-thumbnail img:hover {
      transition: all 0.3s ease-in-out;
      transform: scale(1.05); }

.project-description {
  width: 80%;
  height: auto;
  max-width: 1024px;
  margin: 30px auto 30px auto; }

.project-social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px; }
  .project-social a {
    display: flex;
    align-items: center;
    text-decoration: none; }
    .project-social a:hover {
      transition: all 0.3s ease-in-out;
      transform: scale(1.1); }
    .project-social a .fa-github-alt {
      margin: 15px; }
